extends ../layout

block content
    h3#w Add Wishlist
        form(action="/wishs/add",method="post")
            .form-group
                label(for="name") Name
                input#name(type="text",class="form-control", name="name")
            .form-group
                label(for="company") Company
                input#company(type="text",class="form-control", name="company")
            input(type="submit", class="btn btn-info" )